@import url("./advice.css");
#getdog {
    margin-left: 42%;
}

#dog {
    float: left;
    margin-left: 5%;
}

.details {
    text-align: center;
}

.heading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.bottom {
    margin-bottom: 100px;
}